body {
    background: url('../images/Slogan.png') no-repeat center center fixed;
    background-size: cover;
}

#Header {
    width: 1100px;
    height: 62px;
    background-color: #e9e3d6;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
    color: #1d1d1e;
    font-family: Arial, sans-serif;
    font-size: 13px;
    position: relative;
}

.LogLink {
    text-decoration: none;
    color: #1d1d1e;
    align-items: center;
    position: relative;
    font-weight: 200;
    font-size: 14px;
    background-color: #ffefcf;
    border: 1px solid #1d1d1e;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, font-weight 0.3s ease;
    text-align: center;
    text-decoration: none;
    width: 150px;
    height: 40px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #1d1d1e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.LogLink:hover {
    background-color: #d3c29e;
    font-weight: 300;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% auto;
    width: 1120px;
    max-width: 1120px;
    height: auto;
    background-color: #e8dec7;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
}

#menu a {
    text-decoration: none;
    color: #1d1d1e;
    font-weight: 200;
    font-size: 14px;
    margin: 0 25px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, font-weight 0.3s ease;
    position: relative;
}

#MainContent {
    width: 1100px;
    height: 600px;
    background-color: #e8dec7;
    margin: 20px auto;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    font-family: Arial, sans-serif;
}
